/*===============
    CSS RESET
===============*/
* {
  margin: 0;
  padding: 0;
  font-size: 14px;
}
p {
  font-size: 2rem;
}
.back-flex-container {
  display: flex;
  justify-content: center;
  align-items: center;
  transform-style: preserve-3d;
}

.main-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  padding-left: 3rem;
  padding-right: 3rem;
  background-color: #2d2a4a;
}

.the-card {
  height: 10rem;
  transform-style: preserve-3d;
  transition: all 0.5s ease;
  border: 2px solid black;
  margin-left: 1rem;
  margin-right: 1rem;
  border-radius: 1rem;
  background-color: white;
  color: black;
  display: flex;
  justify-content: center;
}

@media (min-width: 768px) {
  .the-card {
    width: 12rem !important;
    height: 15rem;
  }
  .the-card p {
    font-size: 2.5rem;
  }
}

@media (max-width: 767px) {
  .the-card {
    width: 10rem;
  }
}

.the-card.the-front p {
  margin-top: 50%;
  margin-bottom: 50%;
  font-size: 1.5rem;
}

.the-card:hover {
  box-shadow: 2px 2px 5px red;
}

/* your existing styles */
.the-card.flipped {
  transform: rotateY(180deg);
}

.the-front {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}

.the-back {
  /*
  position: absolute;
  */
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  transform: rotateY(180deg);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.back-flex {
  display: flex;
  flex-direction: column;
}

.game-container {
  display: flex;
  flex-direction: column;
}

.cards-container {
  display: flex;
  justify-content: center;
}

.start-button,
.audio-button {
  margin: 50px;
}

.speaker-icon {
  height: 3rem;
  width: 3rem;
  background-color: red;
}

.speaker-button {
  border: none;
}
